.App {
  width:100%;
  margin:0;
  padding:0;
  height: 100vh;
overflow-y: auto;
position: relative;

}

.bigBox{
display:flex;
flex-flow: row wrap;
justify-content: space-around;

}

.smallBox{
width:400px;
height: 70px;
background-color: rgb(88, 58, 50);
position: relative;

}
.smallBox img {
  width:100%;
  cursor: pointer;
}

