.page{
   width:100%;
   height: 100vh; 
   background-color: rgba(10, 10, 10, 0.37);
   position: absolute;
   top:0;
}
.box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    background-color: white;
    border:2px solid grey;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.274);
    background-color: rgb(255, 255, 255);
}
.xIcon {
   
    margin-top:10px;
    position: absolute;
    left:93%;
    font-weight: bold;
    cursor: pointer;
    display:inline-block;
    width:15px;
    height: 15px;
    transition: .7s all ease;
}
.xIcon:hover{
    color: rgb(190, 201, 39);
    font-size:18px;


}

.tinyBox{
    position: relative;
    top:6%;
    left: 13%;
    background-color: blueviolet;
    width:300px;
    height: 300px;

}
.tinyBox2{

    width:300px;
    height: 300px;
    background-color: blue;

}
.tinyBox img{
    width: 100%;
    height: 100%;

}

.upper{
    position :absolute;
    top:60%;
    left:12%;


}
.lower{
    position :absolute;
    top:75%;
    left:12%;
}
.upper span ,.lower span {
font-family: 'Georgia';
font-weight: bold;
letter-spacing: 0.5px;
color: rgb(61, 24, 24);
display:block;

}
#upperText,#lowerText {
    -webkit-appearance: none;
    border:2px solid rgb(253, 253, 253);
        box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.274);
    height: 30px;
    width:300px;
    font-family: monospace;
    font-weight: bold;
    font-size:15px;
margin:10px;
}

.download button {
    -webkit-appearance: none;
    position :absolute;
    top:90%;
    left:26%;
    width:200px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.479);
    color:white;
    border:2px solid rgb(253, 253, 253);
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.274);
    font-size:16px;
    letter-spacing: 0.5px;
    cursor: pointer;

    
}

.download button:hover{
    background-color: rgb(190, 201, 39);
}